.App{
	text-align: center;
}

.App-logo{
	align-items: left;
	height: 80px;
}

.App-header{
	background-color: #333333;
	height: 80px;
	padding: 10px;
	color: #EEEEEE;
	grid-area: header;
	display: flex;
	align-items: left;
	justify-content: left;
}

.App-title{
	font-size: 1.5em;
}

.App-intro{
	font-size: large;
}

@keyframes App-logo-spin{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

ul.App-header li{
	display: inline;
	list-style-type: none;
	margin: 0;
}
ul.App-header li a{
	color: #EEEEEE;
	font-weight: bold;
	text-decoration: none;
	padding: 20px;
	display: inline-block;
}
ul.App-header li a.logo_home{
	padding: 0;
}
